html,
body{
    margin: 0;
    position: absolute !important;
    height: 100%;
    width: 100%;
}

div{
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #c1e9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Caveat', cursive;
}